{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps, [
        {rebar_vsn_plugin, ".*",
        {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}},
        {jsx, [], {git, "https://github.com/talentdeficit/jsx.git"}},
        {hackney, [], {git, "https://github.com/benoitc/hackney.git"}}
      ]}.

% Rebar Plugins ==============================================================
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
{plugins, [rebar_vsn_plugin]}.
